<div class="container">
    <div class="row">
        <div class="col-12 mb-3"><h4>Notificaciones</h4></div>
    </div>

    <!-- <div class="row">
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with icons</h4>
                </div>
                <div class="card-body">
                    <p>Toasts with contextual background color and icons.</p>
                    <div id="toastWithIconContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="info"><b>An info toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="warning"><b>A warning toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="success"><b>A success toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="error"><b>An error toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="mail"><b>A mail toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithIconContainer" type="time"><b>A time toast!</b></smart-toast>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Toasts with no icons</h4>
                </div>
                <div class="card-body">
                    <p>Toasts with contextual background color and icons.</p>
                    <div id="toastWithNoIconContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="info"><b>An info toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="warning"><b>A warning toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="success"><b>A success toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="error"><b>An error toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="mail"><b>A mail toast!</b></smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithNoIconContainer" type="time"><b>A time toast!</b></smart-toast>
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Exámenes</h4>
                </div>
                <div class="card-body">
                    <div id="toastWithLargeContentContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithLargeContentContainer" type="mail">
                            <h3>Geografía</h3>
                            <p>Ciencia que estudia y describe la superficie de la Tierra en su aspecto físico, actual y natural, o como lugar habitado por la humanidad.
                                "algunos estudiosos consideran a Eratóstenes como el padre de la geografía, por las valiosas aportaciones que ofreció en su época"</p>
                            <hr/>
                            <p>Conjunto de características que conforman la realidad física y humana de una zona o de un territorio.
                                "la geografía de la península ibérica"</p>
                        </smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithLargeContentContainer" type="success">
                            <h3>Español</h3>
                            <p>El número de hablantes (la Academia toma en primer lugar a México y España) no es correspondiente a la variedad de las tradiciones verbales, que siempre son en parte nacionales y en parte regionales. ... Lo que haya en común entre todas nuestras tradiciones verbales formaría ese conjunto llamado “español general”.</p>
                            <hr/>
                            <p>¿Por qué nuestro idioma se llama español? Porque viene de un país que se llama España. ... Originalmente, el idioma se llamaba castellano, que viene de un reino que estaba ubicado en el norte de la Península Ibérica en la Edad Media: Castilla.</p>
                        </smart-toast>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-5">
                <div class="card-header">
                    <h4 class="label">Tareas</h4>
                </div>
                <div class="card-body">
                    <div id="toastWithButtonsContainer" class="toast-container">
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithButtonsContainer" type="mail">
                            <h3>Crear mapa conceptual</h3>
                            <p> Los mapas conceptuales son herramientas gráficas para organizar y representar el conocimiento. Incluyen conceptos, usualmente encerrados en círculos o cajitas de algún tipo, y relaciones entre conceptos indicados por una línea conectiva que enlaza los dos conceptos.</p>
                            <hr/>
                            <p>
                                <smart-button class="small-button">OK</smart-button>
                                <smart-button class="small-button">Cerrar</smart-button>
                            </p>
                        </smart-toast>
                        <smart-toast position="top-left" auto-open show-close-button append-to="toastWithButtonsContainer" type="success">
                            <h3>Leer capítulo 3</h3>
                            <p>La lectura es el proceso de comprensión de algún tipo de información o ideas almacenadas en un soporte y transmitidas mediante algún tipo de código, usualmente un lenguaje, que puede ser visual o táctil (por ejemplo, el sistema braille). ... Saber extraer y comprender el significado de un texto.</p>
                            <hr/>
                            <p>
                                <smart-button class="small-button primary">OK</smart-button>
                                <smart-button class="small-button secondary">Cerrar</smart-button>
                            </p>
                        </smart-toast>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>